registry=https://pkgs.dev.azure.com/devops12kalrav/_packaging/devops12kalrav/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/devops12kalrav/_packaging/devops12kalrav/npm/registry/:username=devops12kalrav
//pkgs.dev.azure.com/devops12kalrav/_packaging/devops12kalrav/npm/registry/:_password=M2FieGRyaDJkbjd0N3g0a3c1NHFkYXF1eWxub3V0aHgzcXFtZmpvZmE3b2lybDc2b2xzcQ==
//pkgs.dev.azure.com/devops12kalrav/_packaging/devops12kalrav/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/devops12kalrav/_packaging/devops12kalrav/npm/:username=devops12kalrav
//pkgs.dev.azure.com/devops12kalrav/_packaging/devops12kalrav/npm/:_password=M2FieGRyaDJkbjd0N3g0a3c1NHFkYXF1eWxub3V0aHgzcXFtZmpvZmE3b2lybDc2b2xzcQ==
//pkgs.dev.azure.com/devops12kalrav/_packaging/devops12kalrav/npm/:email=npm requires email to be set but doesn't use the value
; end auth token